.App {
  text-align: center;
}
/* Navbar styles */
.navbar {
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Fixed navbar */
.navbar.fixed {
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensure it's above other content */
}

/* Navbar background color when scrolled */
.navbar.scrolled {
  
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9); /* Dark background on scroll */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Optional shadow */
}

/* Make sure to adjust navbar links color if needed */
.navbar-link {
  color: #fff; /* White text color */
}

.navbar-link.active {
  color: #f0f0f0; /* Active link color */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo {
  width: 80px;
  height: auto;
}

.text-justify {
  text-align: justify;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-products {
  background-color: #D6D6D6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-style-none {
    padding-left: 0;
    list-style: none;
}

.list-item-icon {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}


.list-item-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #007bff; /* or any color that fits your brand */
    border-radius: 50%;
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure cards take up full column height */
}

.card-body {
  flex: 1; /* Make sure card body grows to fill available space */
}

/* Services.css */
.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.service-card img {
  transition: opacity 0.3s ease;
}

.service-card:hover img {
  opacity: 0.8;
}

.no-background {
  background-color: transparent !important;
}

.social-icon {
  display: flex;
  gap: 10px; /* Space between icons */
  align-items: center; /* Center align icons vertically */
}

.social-icon img {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
